<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799005040887-38ma9cgi0q6hbt0i7taq33evhvpk2au7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799005040887-38ma9cgi0q6hbt0i7taq33evhvpk2au7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799005040887-8cth3lfagqjd4u4agg2pslvqs7ql82c4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPFKspwNefdxbe5RZ18m4S_VVr40YTOFw</string>
	<key>GCM_SENDER_ID</key>
	<string>799005040887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sidewalk.stepin</string>
	<key>PROJECT_ID</key>
	<string>stepin-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>stepin-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:799005040887:ios:a1d6cec1b9a0d9bfc5b3f2</string>
</dict>
</plist>
