<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1427450794442089</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.799005040887-38ma9cgi0q6hbt0i7taq33evhvpk2au7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1427450794442089</string>
	<key>FacebookClientToken</key>
	<string>2eb2e1471bd77cd9074b64471bc9e28fc59e9f73ab482d7364ab89e529821de0</string>
	<key>FacebookDisplayName</key>
	<string>STEPIN-prod</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>CHONBUKL.TTF</string>
		<string>Shrikhand-Regular.ttf</string>
		<string>SUIT-Thin.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-Light.otf</string>
		<string>SUIT-ExtraLight.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-Bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>baseURL</key>
	<string>https://app-api.stepin.ai</string>
	<key>devBaseURL</key>
	<string>http://app-api.stepinft.com</string>
	<key>devPaymentURL</key>
	<string>http://payment-api.stepinft.com</string>
	<key>devScoreBaseURL</key>
	<string>http://play-score-api.stepinft.com</string>
	<key>dsnURL</key>
	<string>https://bb5856d51c8d4cfb9020a9c8981737a8@o4505317515460608.ingest.sentry.io/4505322750541824</string>
	<key>eulaURL</key>
	<string>https://faq.stepin.ai/en/terms/eula</string>
	<key>newsBoardURL</key>
	<string>https://faq.stepin.ai/</string>
	<key>paymentURL</key>
	<string>https://payment-api.stepin.ai</string>
	<key>privacyURL</key>
	<string>https://faq.stepin.ai/en/terms/privacy</string>
	<key>scoreBaseURL</key>
	<string>https://play-score-api.stepin.ai</string>
</dict>
</plist>
